<h1>Hello! You should go back to the home page!</h1>

<br>

<a href="/">Home page</a>

<br>

<img src="https://wifflegif.com/gifs/641747-cats-of-the-internet-funny-cat-memes-gif" alt="cat" width="50%">